<div class="container py-5 custom-card">
  <div class="row">
    <div class="col md-5">
      <h1 class="display-3 text-black text-center" style="font-family:'Qasengi Trial', sans-serif;">Login</h1>
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="background-color: transparent;" placeholder="Email address" [(ngModel)]="userLog.email" name="email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" style="background-color: transparent;" placeholder="Password" [(ngModel)]="userLog.password" name="password">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-dark w-100">Login</button>
          <br>
          <label for="exampleInputEmail1" class="form-label">Don't have an account?</label>
          <br>
          <button type="button" class="btn btn-outline-dark w-100" routerLink="/signup">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
