
<ion-header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="row px-2"></div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background: transparent; border: 1px solid black;">
          <button class="btn " type="submit"><img src="../../assets/images/icons8-search-64 (1).png" width="40px"></button>
        </form>
        <a class="navbar-brand " routerLink="/cart">
          <img src="../../assets/images/icons8-cart-48.png" width="35px">
        </a>
      </div>
  </nav>
</ion-header>
