<ion-footer class="footer">
  <nav class="navbar bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/images/icons8-shop-50.png" width="33px"></a>
      <a class="navbar-brand" routerLink="/profile">
        <img src="../../assets/images/icons8-test-account-32.png" width="33px">
      </a>
      <a class="navbar-brand" (click)="logout()">
        <img src="../../assets/images/icons8-logout-32.png" width="33px">  
      </a>
    </div>
  </nav>
</ion-footer>
