<div style="height: 100vh; overflow-y: auto;">
  <h1 class="display-3 text-center text-dark py-5" style="font-family: 'Qasengi Trial', sans-serif;">Welcome Back</h1>
  <div class="container-fluid custom-card">
    <h1 class="display-3 text-center text-dark py-2" style="font-family: 'Qasengi Trial', sans-serif;">Cart Items</h1>
    <div class="row">
      <div class="col-md-6" *ngFor="let article of cartItems; let i = index">
        <app-article [article]="article" [isCartPage]="true"></app-article>
      </div>
    </div>
  </div>
</div>
