<div class="container" style="height: 100vh; overflow-y: auto;">
  <br>
  <h1 class="display-3 text-center text-dark py-4" style="font-family: 'Qasengi Trial', sans-serif;">
    Welcome 
  </h1>
  <ion-card class="profile text-white h-70" style="border-radius: 25px;">
    <div>
      <img src="../../../assets/images/moh.jpg" alt="">
      <ion-card-header>
        <ion-card-title class="text-dark" style="font-size: 15px;">
          User Name: 
        </ion-card-title>
        <ion-card-subtitle class="text-dark">
          User Email: 
        </ion-card-subtitle>
      </ion-card-header>
      <div class="text-center">
        <button type="button" class="btn btn-outline-dark w-90" >Add article<ion-icon name="add-circle-outline" class="px-2"></ion-icon></button>
        
      </div>
    </div>
  </ion-card>
</div>