<ion-card class="card  text-white h-100 w-80 custom" >
  <div>
  <img alt="Silhouette of mountains" src="../../assets/images/manga2.jpg" />
  <ion-card-header >
    <ion-card-title class="text-dark" style="font-size: 15px;">Solo Leveling</ion-card-title>
    <ion-card-subtitle class="text-dark">Manhawa</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="text-dark">
    SEASON 1
  </ion-card-content>
  <ion-button fill="outline"  class="px-1 " style="font-size: 11px;">Add to cart</ion-button>
</div>
</ion-card>